@page "/"
@using BlazorComponentHeap.HtmlEditor
@using BlazorComponentHeap.HtmlEditor.Components.Toolbar.Item
@using BlazorComponentHeap.Select

<div class="page-container">
    <div class="inner-container">
        <div class="html-editor-container">
            <div class="editor">
                <HtmlEditor @ref="_htmlEditor"
                            ToolbarKeys="_toolbarKeys"
                            OnChange="OnChangeInEditorAsync"
                            ViewModeChanged="OnViewModeChangedAsync"
                            OnLoaded="OnEditorLoadedAsync"
                            OnReplaceImageClicked="OnReplaceImageClickedAsync"
                            OnSelectImage="OnSelectImageAsync"
                            ImageReplacingEnabled="true">
                    <ToolbarItemsTemplate>

                        <ToolbarItemComponent Key="doc-template">
                            <div class="doc-template-wrapper">
                                <BCHSelect TItem="string"
                                           ContentHeight="200"
                                           ItemHeight="30"
                                           Height="40"
                                           Width="160"
                                           Options="@_templates"
                                           DefaultText="Select Template"
                                           Filtering="false"
                                           FilterByPredicate="x => x"
                                           Selected="@null"
                                           SelectedChanged="OnSelectTemplateAsync"/>
                            </div>
                        </ToolbarItemComponent>
                    </ToolbarItemsTemplate>
                </HtmlEditor>
            </div>
            <div class="form">
                <button>To PDF (html-2-pdf)</button>
                <button>To PDF (Iron PDF)</button>
            </div>
        </div>
    </div>
</div>